ANIME_URL=https://animixplay.to/v1/one-piece
ANIME_FILLER_LIST_URL=https://www.animefillerlist.com/shows/one-piece
ANIME_FILLER_LIST_OFFSET=0
FILLERS=0
MIXED_CANONS_AND_FILLERS=1
CANONS=1
FOLDER_NAME=One Piece
START=1
END=250
FANCY_TERMINAL=1
# This example is set to download OnePiece from Episode 1 to Episode 250 without any fillers with fancy terminal.